.wrapper{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: rgb(184, 177, 177);
    text-align: center;
    align-items: center;
}
.drop{
    padding-right: 20px;
    animation: drop 10s ease-in-out;
    animation-delay: calc(var(--order) * 800ms);
}
@keyframes drop{
    from{
        transform: translateY(-100px);
    }
    to{
        translate: translateY(0px)
    }
}