.wrapper{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: gray;
    text-align: center;
    align-items: center; 
}
.flying-box{
    width: 150px;
    height: 50px;
    background-color: tomato;
    padding-top: 15px;
}