body{
    background-color: rgb(97, 105, 122, 0.2);
}

#canvas{
    border: 7px solid rgba(24, 119, 242 ,0.7);
    border-top: 5px rgba(24, 119, 242 ,0.7);
    background-color: rgba(88, 144, 255 ,0.4);
}
.upload{
    background-color:  rgba(24, 119, 242 ,0.7);
    width: 520;
}

.upload>span{
    color: #fafafa;
}

.upload>div>input{
    color: #fafafa;
    border: 2px solid rgb(247, 248, 250, 0.5);
    margin-bottom: 5px;
}