.container {
  
  display: flex;
  justify-content: center;
}

#canvasInput {
  align-items: center;
  border: 20px solid rgba(153, 153, 153, 0.7);
  border-top: 5px solid rgba(153, 153, 153, 0.7);
  border-bottom:70px solid rgba(153, 153, 153, 0.7);
  
}
#canvasOutput {
    border: 5px solid rgba(153, 153, 153, 0.7);
    background-color: #fff;
    background-size: 30px;
    margin-left: 50px;

}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output>span {
    background-color: #000;
    height: 50px;
    color: #fafafa;
    padding: 30px;
    padding-top: 10px;
    font-size: large;
}
.control {
    background-color: rgba(153, 153, 153, 0.7);
    width: 640px;
}
.control>div>button {
    margin-bottom: 5px;
    color: #000;
    border: 2px solid #000;
    border-radius: 5%;
    margin-top: 3px;
    background-color: #fafafa;
}